{% extends 'main/layout.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block hero %}
  <div class="container hero-content-about">
    <h2>Зименков Николай</h2>
    <p>
      <b>Студент группы</b> А-07м-21
    </p>
    <p>
      <b>Телефон:</b> +7 903 168 2409
    </p>
    <p>
      <b>Почта ОСЭП:</b> ZimenkovNA@mpei.ru
    </p>
    <p>
      <b>Доп. почта:</b> n.zimenkov.2020@gmail.com
    </p>
    <p>
      <b>Ссылка на github:</b> <a href="https://github.com/Nikola-zim"  target="_blank">https://github.com/Nikola-zim</a>
    </p>
  </div>

{% endblock %}
