{% extends 'main/layout.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block hero %}
  <div class="container hero-content-about">
    <h2>Пояснительная записка</h2>
    <p>
      Краткое содержание: На базе фреймворка Django разработать веб-приложение, представляющее учебный портал по курсу "Фреймворк Zend". Портал должен содержать достаточное количество учебного материала (статей, разделов, подразделов, описание процесса разработки и т.п.)  с примерами для успешного освоения заданной темы.
    </p>
  </div>

{% endblock %}
